body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.logo{
    width: 50px;
    height: 90px;
    flex-grow: 1;
}

.logo_preztum{
    padding-bottom: 25%;
    margin-right: 80px;
    margin-left: 80px;
    margin-top: 25px;
    width: 250px;
}

ul {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
  
li{
    display: inline-block;
    margin-right: 100px;
}

.boton_credito{
    border-radius: 50px;
    height: 2rem;
    background-color: #015C83;
    color: white;
    font-weight: 200;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
  
a {
    color: #333;
    margin-left: 80px;
    margin-right: 70px;
    border-radius: 15%;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


@media (max-width: 768px) {
    header {
        flex-direction: column;
    }
    
    .logo {
        text-align: center;
        margin-bottom:10px;
        margin-right: 22em;
    }
    
    nav {
        text-align: center;
        margin-right: 10px;
    }
    
    li {
        display: block;
        margin: 10px 0;
    }

    a{
        margin-left: 4em; 
    }
    
} 

.banner-section {
    height: 50px;
    width: 100vw;
    position: relative;
}

.foto{
    width: 100%;
}

.contenedor_texto{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color:#0e0d0d;
    padding: 20px;
}
  
.credito h2 {
    margin: 0;
    font-size: 36px;
    line-height: 1.2;
}
  
.credito_seguro p {
    margin: 0;
    font-size: 18px;
    line-height: 1.5;
}
  
@media only screen and (max-width: 200px) {
    .banner_section {
      padding: 15px;
    }

    .contenedor_texto{
        display: block;

    }  
}

.solicitar{
    font-size: 25px;
    padding-left: 450px;
    font-weight: bold;
    margin-top: 3%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.services-container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.service {
    flex: 1;
    text-align: center;
    padding: 20px;
}

.service h4 {
    font-size: 10px;
    margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
    .solicitar{
        padding-left: 70px;
        margin-top: 5%;
        font-size: 10px;
    }

    .services-container {
        flex-direction: column;
    }

    .service {
        flex: 0 0 100%;
        margin-bottom: 20px;
    }
}

.container_aliados{
    display: flex;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    justify-content: center;
    align-items: center;
    background-color: #D9D9D9;
}

.marcas {
    display: flex; 
    justify-content: center; 
    background-color:#D9D9D9
}
  
.marcas img {
    width: 50%;
    max-width: 500px;
    max-height: 100px;
}

@media screen and (max-width: 768px) {
    .container_aliados{
      flex-wrap: wrap;
      justify-content: center;
      font-size: 10px;
    }
    .marcas img {
      width: 50%;
      max-width: 150px;
      max-height: 100px;
      margin-bottom: 20px;
      margin-left: 22px;

    }
}

.como_funciona{
    font-size: 25px;
    font-weight: bold;
    padding-left: 630px;
    padding-top: 3%;
    padding-right: 650px;
    margin-top: 3%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container_como_funciona{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.credito {
    flex: 1;
    text-align: center;
    padding: 20px;
}

.credito h4 {
    font-size: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
}

@media screen and (max-width: 768px) {
    .como_funciona{
        font-size: 15px;
        padding-left: 150px;
    }
    .container_como_funciona {
       flex-direction: column;
        
    }

    .credito {
        flex: 0 0 100%;
        margin-bottom: 20px;
    }
}

.quienes_somos {
    display: flex;
    padding: 4%;
    align-items: center;
    padding-left: 10%;
    background-color: #D9D9D9;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
  
.imagen {
    padding-right: 15%;
}
  
@media screen and (max-width: 600px) {
    .quienes_somos {
        flex-direction:column;
        align-items: center;
    }

    h2{
        font-size: 15px;
        padding-left: 70px;
    }
    .definicion{
        font-size: 10px;

    }
    .imagen {
        margin-right: 0;
        margin-left: 250px;
        width: 200%; 
    }
}

.container {
    display: flex;
    align-items: center;
    flex-direction: row;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
}
  
.mission, .vision {
    width: 100%;
    padding: 20px;
}
  
.mission h2, .vision h2 {
    color: black;
    font-size: 25px;
    padding-left: 10em;
}
  
.mission p, .vision p {
    color: black;
    font-size: 15px;
    padding-left: 10em;
    padding-right: 5em;
}

.mission img, .vision img {
    max-width: 25%;
    height: auto;
    margin-bottom: 20px;
    padding-left: 200px;
}


@media screen and (max-width: 767px){
    .container {
      flex-direction: column;
      margin-right: 15px;
    }

    .mission h2, .vision h2{
        margin-left: 0px;
        font-size: 15px;
    }

    .mission img, .vision img{
        max-width: 50%;
        height: auto;
        padding-left: 100px;
    }    
    
    .mission p, .vision p{
        font-size: 10px;
        margin-left: 10px;
    }

    .mission, .vision {
      width: 100%;
      font-size: 15px;
    }
}
  
.container_preguntas{
    padding-top: 2%;
    font-size: 25px;
    font-weight: bold;
    display: flex;
    margin-left: 600px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container_preguntas_frecuentes{
    padding: 5%;
    font-size: 17px;
    margin-left: 100px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.copyright{
    margin-left: 550px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

@media screen and (max-width: 767px){
    .container_preguntas{
        padding-left: 80px;
        font-size: 18px;
        margin-left: 0% ;
    }

    .preguntas_frecuentes{
        padding-left: 15em;
    }

    .container_preguntas_frecuentes{
        padding-bottom: 15%;
        margin-left: 20px;
        font-size: 12px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
}

.container_copyright{
    background-color: #015C83;
    width: 200em;
    height: 100px;
}

.copyright p{
    width:100px;
    padding-right:  100px;
    font-size: 50px;
}
